.heading{
    text-align: center;
    font-family: cursive;
    font-weight: bolder;
}
button{
  text-align: center;
    font-family: cursive;
    font-weight: bolder;
    width: 75px;
    height: 20px;
}
 div{
    background-color: white;
    border: 2px solid black;
    padding: 50px;
    margin: 10px 10px;;
    display: grid;
  }
  img{
    text-align: center;
    background-color: white;
    border: 2px solid black;
    width: 100px;
    padding: 50px;
    margin: 10px;
    display: grid;
    overflow: clip;
    overflow-x:0;
    overflow-y:0;
  }
  form {
    background-color: white;
    text-align: right;
    max-height: fit-content;
    max-width: none;
    margin: 10px 10px;;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  }